<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.develop.hy.ganks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.UserCenterActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.CommonListActivity" />
        <activity
            android:name=".ui.AboutUsActivity"
            android:theme="@style/AppTheme"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yancy.gallerypickdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".ui.SplashActivity"
            />
        <service android:name=".ui.DownSplashResService"
           />
        <activity android:name="com.develop.hy.ganks.MainActivity"
           />

        <!--TODO 集成：1.3、配置Bmob平台的应用密钥-->
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="74484ee79ef10cb552ab13235abbcb70"/>
    </application>

</manifest>